.btnEdit {
    background: linear-gradient(to left, #ffffff 50%, #048153 50%) right;
    background-size: 200%;
    transition: .5s ease-out;

}

.btnEdit:hover {
    background-position: left;
    color: #ffffff;
}